Import libraries

In [66]:
import pandas as pd  # import pandas library
import matplotlib.pyplot as plt  # import pyplot submodule of matplotlib library

Read CSV into pandas DataFrame

In [67]:
csv_url = 'https://raw.githubusercontent.com/auden-in-austria-digital/aad-data/dev/metadata/csv/output_doc_id.csv'

df = pd.read_csv(csv_url, dtype={'doc': 'str'})  # retain string format for doc values

Check for missing DataFrame values

In [68]:
df.isnull().sum()  # return True for `None` and `NaN`; sum up null values

doc               0
ed                0
img               0
lrx               0
lry               0
width             0
height            0
type              0
title             0
author            0
author-uri        0
notBefore-iso     0
notAfter-iso      0
place             0
place-uri         0
repository        0
repository-uri    0
collection        0
idno              0
dtype: int64

Display DataFrame information

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   doc             60 non-null     object
 1   ed              60 non-null     object
 2   img             60 non-null     int64
 3   lrx             60 non-null     int64
 4   lry             60 non-null     int64
 5   width           60 non-null     int64
 6   height          60 non-null     int64
 7   type            60 non-null     object
 8   title           60 non-null     object
 9   author          60 non-null     object
 10  author-uri      60 non-null     object
 11  notBefore-iso   60 non-null     object
 12  notAfter-iso    60 non-null     object
 13  place           60 non-null     object
 14  place-uri       60 non-null     object
 15  repository      60 non-null     object
 16  repository-uri  60 non-null     object
 17  collection      60 non-null     object
 18  idno            60 non-null     object
dtypes: int64(5), object(14)
memory usage: 9.0+ KB

Convert date strings to datetime objects

In [70]:
df['notBefore-iso'] = pd.to_datetime(df['notBefore-iso'], errors='coerce')  # convert strings in notBefore-iso column to datetime objects; replace invalid string values with NaT values

df['notBefore-iso'].isnull().sum()  # check for NaT values

np.int64(0)

In [71]:
# Drop duplicates and select relevant columns in one step
df_clean = df.drop_duplicates(subset='doc')[['doc', 'author', 'place', 'notBefore-iso']]

# Display the resulting DataFrame
print(df_clean.head())

     doc        author         place             notBefore-iso
0   0001  Auden, W. H.  Kirchstetten 1960-07-25 00:00:00+01:00
4   0002  Auden, W. H.  Kirchstetten 1964-09-08 00:00:00+01:00
8   0003  Auden, W. H.  Kirchstetten 1965-05-24 00:00:00+01:00
12  0004  Auden, W. H.  Kirchstetten 1964-10-07 00:00:00+01:00
16  0005  Auden, W. H.  Kirchstetten 1967-05-09 00:00:00+01:00